In [1]:
import pandas     as pd
import numpy      as np
#import matplotlib.pyplot as plt
from matplotlib import pyplot, pylab

In [2]:
data1 = pd.read_csv('progress10k-896-128v1.csv')
data2 = pd.read_csv('progress10k-896-128v2.csv')
data3 = pd.read_csv('progress10k-896-128v3.csv')
# data4 = pd.read_csv('progress10k-512v4.csv')

data5 = (data1 + data2 + data3)/3

data5.to_csv('progress10k-896-128.csv')
data5.head()

,epoch,stats_g/mean,stats_g/std,stats_o/mean,stats_o/std,test/episode,test/mean_Q,test/success_rate,train/episode,train/success_rate
0,0.0,0.868056,0.099402,0.207400,0.032360,10.0,-1.702940,0.100000,20.0,0.033333
1,1.0,0.868025,0.099408,0.207388,0.033120,20.0,-2.352248,0.266667,40.0,0.000000
2,2.0,0.867980,0.099487,0.207387,0.034251,30.0,-2.895609,0.266667,60.0,0.033333
3,3.0,0.867925,0.099504,0.207380,0.034983,40.0,-3.076689,0.500000,80.0,0.150000
4,4.0,0.867878,0.099557,0.207388,0.035795,50.0,-3.589419,0.500000,100.0,0.033333

In [3]:
data1.mean()

epoch                  99.500000
stats_g/mean            0.866567
stats_g/std             0.102896
stats_o/mean            0.207210
stats_o/std             0.053144
test/episode          205.000000
test/mean_Q            -7.410400
test/success_rate       0.475000
train/episode         410.000000
train/success_rate      0.160500
dtype: float64

In [4]:
data2.mean()

epoch                  99.500000
stats_g/mean            0.866705
stats_g/std             0.102689
stats_o/mean            0.207301
stats_o/std             0.053378
test/episode          205.000000
test/mean_Q            -6.723635
test/success_rate       0.508500
train/episode         410.000000
train/success_rate      0.178500
dtype: float64

In [5]:
data3.mean()

epoch                  99.500000
stats_g/mean            0.866673
stats_g/std             0.102401
stats_o/mean            0.207365
stats_o/std             0.052303
test/episode          205.000000
test/mean_Q            -7.939337
test/success_rate       0.438000
train/episode         410.000000
train/success_rate      0.154250
dtype: float64

NameError: name 'data4' is not defined

In [ ]:
data5.mean()